<?xml version='1.0'?>

<launch>

  <!-- set goal across all racecars -->
  <node        name           = 'multi_goal_set'
               pkg            = 'f1tenth-sim'
               type           = 'multi_goal_set.py'/>

  <!-- spawn car_1 with TEB based navigation stack -->
  <include     file           = '$(find f1tenth-sim)/tutorials/beginner_tutorials/navigation.launch'>
  <arg         name           = 'car_name'
               value          = 'car_1'/>
  <arg         name           = 'car_paint'
               value          = 'Yellow'/>
  <arg         name           = 'run_gazebo'
               value          = 'true'/>
  <arg         name           = 'x_pos'
               value          = '2.5'/>
  <arg         name           = 'y_pos'
               value          = '-7.0'/>
  <arg         name           = 'run_map'
               value          = 'true'/>
  <arg         name           = 'run_rviz'
               value          = 'false'/> </include>

  <!-- spawn car_2 with TEB based navigation stack -->
  <include     file           = '$(find f1tenth-sim)/tutorials/beginner_tutorials/navigation.launch'>
  <arg         name           = 'car_name'
               value          = 'car_2'/>
  <arg         name           = 'car_paint'
               value          = 'Red'/>
  <arg         name           = 'run_gazebo'
               value          = 'false'/>
  <arg         name           = 'x_pos'
               value          = '4.5'/>
  <arg         name           = 'y_pos'
               value          = '-7.0'/>
  <arg         name           = 'run_map'
               value          = 'false'/>
  <arg         name           = 'run_rviz'
               value          = 'false'/> </include>

  <!-- spawn car_3 with TEB based navigation stack -->
  <include     file           = '$(find f1tenth-sim)/tutorials/beginner_tutorials/navigation.launch'>
  <arg         name           = 'car_name'
               value          = 'car_3'/>
  <arg         name           = 'car_paint'
               value          = 'Blue'/>
  <arg         name           = 'run_gazebo'
               value          = 'false'/>
  <arg         name           = 'x_pos'
               value          = '0.5'/>
  <arg         name           = 'y_pos'
               value          = '-8.0'/>
  <arg         name           = 'run_map'
               value          = 'false'/>
  <arg         name           = 'run_rviz'
               value          = 'false'/> </include>

  <!-- launch rviz with navigation configuration -->
  <node        pkg            = 'rviz'
               type           = 'rviz'
               name           = 'rviz'
               args           = '-d $(find f1tenth-sim)/rviz/multi-TEB.rviz'/>

</launch>
