<?xml version='1.0'?>

<launch>

  <!-- global variables -->
  <arg name='multi_car' default='false' />
  <arg name='world_name' default='race_track' />
  <arg name='mapping_tf' default='false' />

  <!-- global map server -->
  <!-- <node name='global_map_server' pkg='map_server' type='map_server' args='$(find f1tenth-sim)/map/race_track.yaml' output='screen'>
    <param name='frame_id' value='map' />
  </node>
  <remap from='map' to='/map' /> -->

  <!-- spawn car_1 and launch Gazebo -->
  <include file='$(find f1tenth-sim)/launch/car_gazebo.launch'>
    <arg name='car_name' value='car_1' />
    <arg name='x_pos' value='-9.00' />
    <arg name='y_pos' value='-5.00' />
    <arg name='paint' value='Yellow' />
    <arg name='run_gazebo' value='true' />
    <arg name='world_name' value='$(arg world_name)' />
    <arg name='mapping_tf' value='$(arg mapping_tf)' />
  </include>

  <group if="$(arg multi_car)">
    <!-- spawn car_2 -->
    <include file='$(find f1tenth-sim)/launch/car_gazebo.launch'>
      <arg name='car_name' value='car_2' />
      <arg name='x_pos' value='-7.00' />
      <arg name='y_pos' value='-5.00' />
      <arg name='paint' value='Green' />
    </include>

    <!-- spawn car_3 -->
    <include file='$(find f1tenth-sim)/launch/car_gazebo.launch'>
      <arg name='car_name' value='car_3' />
      <arg name='x_pos' value='-5.00' />
      <arg name='y_pos' value='-5.00' />
      <arg name='paint' value='Red' />
    </include> 
  </group>

</launch>
